



img{
    height: 40vh;
    display: block;
    margin: 0 auto;
    position: absolute;
}

#sword{
    height: 30vh;
    display: block;
    margin: 0 auto;
    top: 10vh;
    left: 25vw;
}

#shield{
    height: 30vh;
    top: 10vh;
    display: block;
    margin: 0 auto;
    left: 25vw;
}

.upperVision{
    height: 50vh;
    width: 100vw;
    background: white;
}
.fire{
   background: red;
    height: 50vh;
    width: 100vw;

}
.wind{
    background: lightgreen;
    height: 50vh;
    width: 100vw;
}

.water{
    background: lightblue;
    height: 50vh;
    width: 100vw;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.noMarginBottom{
    margin-bottom: 0px;
}
